.wrapper{
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;

}

body{
    background-color: #e6e6e6;
}

/* quick-menu styles */
.quick-menu{
    width: 100%;
    height: 44px;
    background-color: #fff;
    margin-bottom: 30px;
    
}

.quick-menu .wrapper{
    display:  flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.quick-menu ul{
    display: flex;
}

.quick-menu a {
    padding: 10px;
    color: #4a4a4a;
    font-size: 14px;
    
}

.quick-menu a:hover{
    text-decoration: underline;
}
.phone img{
    width: 15px;
}
.phone a {
    font-weight: 700;
    font-size: 18px;
    color: #DC1F26
}

/* header styles */
header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    width: 30px;
}
header > a {
    height: 100%;
}
header > a img{
    width:100%;
    height: 100%;
    object-fit: contain;
}

header > div{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}
header form{
    width: 40%;
    height: 100%;
    display: flex;

}
header form input{
    flex: 1;
    border: none;
    outline: none;
    padding: 5px 15px;
}

header form button{
    width: 50px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}

.user-menu-wrapper{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    
}
.user-menu-wrapper a{
    color: #4a4a4a;
}
.user-menu-wrapper span{
    margin: 0 5px;
}
.user-icons-wrapper{
    width: 100px;
    display: flex;
    position: relative;
}

.user-icons-wrapper span{
    position: absolute;
    color: #fff; 
    font-weight: 700;

}

.user-icons-wrapper div{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    transition: all 200ms ease-out;
}

.cart-wrapper img{
    margin-bottom: 3px;
    width: 35px;
}

.user-icons-wrapper div:hover{
 background: #f2f2f2;
}

/* navigation styles */
nav {
    width: 100%;
    height: 45px;
    background: #1465B9;
    margin-top: 30px;
}
nav > ul {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
nav > ul > li{
    flex: 1;
    height: 100%;
    position: relative;
    
}
nav > ul >li > a{
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid rgb(13, 66, 123);
    transition: all 200ms ease-out;
}

nav > ul >li > a:hover{
    background: #fff;
    color: #1465B9;
    border: 1px solid #fff;
}

.nav-dropdown{
    height: 300px;
    width: 470px;
    display: flex;
    justify-content: space-between;
    background: #fff;
    position: absolute;
    top: 100%;
    box-shadow: 4px 2px 23px 1px rgba(0,0,0,0.2);
    visibility: hidden;
    opacity: 0;
    z-index: -1;
}

nav > ul > li:nth-of-type(n + 6) .nav-dropdown{
    right: 0;
}

nav > ul li:hover .nav-dropdown{
    visibility: visible;
    opacity: 1;
    z-index: 69;
}

.nav-dropdown li {
    min-height: 40px;
    margin-left: 15px;
    padding: 5px 0;
    display: flex;
    align-items: center;
    text-align: left;
    border-bottom: 1px solid #b1abab;

}
.nav-dropdown li:last-of-type{
    border: none;
}

.nav-dropdown a {
    text-transform: uppercase;
    font-weight: 700;
    color: #4a4a4a;
}

.nav-dropdown a:hover{
    text-decoration: underline;
}

.nav-dropdown-img{
    padding: 10px;
}

.nav-dropdown-img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
/* main styles */
main{
    min-height: calc(100vh - 250px);
}

.homepage-slider .item{
    height: 300px;
    background: #fff;
}

/* promotions section styles */

.product-heading{
    width: 100%;
    height: 50px;
    background-color: #efeeee;
    padding: 5px 30px;

}

.product-heading h3{
    color: #4a4a4a;
    font-size: 30px;
    font-weight: 300;
}

.products-row{
    width: 100%;
    height: 300px;
    display: flex;
    margin-bottom: 60px;

}
.product-label{
    width: auto;
    display: inline-flex;
    padding: 3px 5px;
    background: #DC1F26;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    right: 0;
}

.product-box{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px;
    flex: 1;
    background-color: #fff;
    border: 1px solid  #e6e6e6;
   transition: all 200ms ease-out;
}
.product-box:hover{
    transform: scale(1.08);
    z-index: 3;
}
.product-box a:hover{
    text-decoration: underline;
}
.product-box a{
    margin-bottom: 5px;
}
.product-box img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-category{
    color: #1465B9;
    font-size: 13px;
    font-weight: 300;
}
.product-name{
    color: #1465B9;
    font-size: 16px;
    font-weight: 700;
}
.product-price{
    display: block;
    text-align: right;
    font-weight: 700;
    color: #DC1F26;
}
/* footer styles */
footer{
    width: 100%;
    min-height: 200px;
    padding: 10px 0;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
}

footer h5{
    color:#4a4a4a;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-size: 14px;
}

footer a {
    color:#4a4a4a;
    font-size: 13px;
}

footer a:hover{
    text-decoration: underline;
}
